html, head, body, .container {
    height: 100%;
}

.delete-service {
    width: 40px;
    cursor: pointer;
    padding: 7px;
}

.nav-extended {
    margin-bottom: 20px;
}

.nav-extended > div {
    padding: 0 20px;
}

/* label color */
.input-field label {
    color: #ffb300;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ffb300;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ffb300;
    box-shadow: 0 1px 0 0 #ffb300;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #ffb300;
    box-shadow: 0 1px 0 0 #ffb300;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #ffb300;
    box-shadow: 0 1px 0 0 #ffb300;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #ffb300;
}

.tabs .tab a{
    color:#ffb300;
} /*Black color to the text*/

.tabs .tab a:hover {
    color:#ffb300;
} /*Text color on hover*/

.tabs .tab a.active {
    color:#ffb300;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#ffb300;
} /*Color of underline*/

.tabs .tab a.active:focus {
    background-color: transparent;

}

table#smart-services-overview {
    table-layout: fixed;
    width: 100%;
}

td {
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
}

form button[type="submit"] {
    cursor: pointer;
}

#add-permission-modal {
    height: 75%;
    max-height: 100%;
}
#add-permission-modal .modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

nav.black-text .breadcrumb:before {
    color: black;
}