<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="header (selected)" class="nav-extended amber darken-1">
  <div class="nav-wrapper">
    &nbsp; <a href="#" class="brand-logo">SMART Service Registratie <i class="large material-icons">lock</i></a>
    <ul id="nav-mobile" class="right">
      <form th:action="@{/logout}" method="post">
        User: <span th:text="${user}"></span>
        <button class="btn deep-orange">logout</button>
      </form>
    </ul>
  </div>
  <div class="nav-content loggedin amber lighten-3">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a href="/" th:class="${selected == 'index' || selected == 'smart-service' ? 'active' : ''}">Clients</a></li>
      <li class="tab"><a href="/roles" th:class="${selected == 'roles' ? 'active' : ''}">Rollen</a>
      <li class="tab"><a href="/idp" th:class="${selected == 'idp' ? 'active' : ''}">IDPs</a>
      </li>
    </ul>
  </div>
</nav>
</html>
