<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <title>SMART Service Registratie</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"
        media="screen,projection"/>
  <!--Import our own css-->
  <link type="text/css" rel="stylesheet" href="/css/styles.css"
        media="screen,projection"/>
</head>
</html>
