<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
</head>
<body>
<nav th:replace="fragment/header :: header(selected='roles')"></nav>
<div>
  <div class="row">
    <nav class="transparent black-text">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="/roles" class="breadcrumb black-text">Rollen</a>
          <a th:href="@{/roles/edit(id=${permission.role.id})}" class="breadcrumb black-text" th:text="${permission.role.name}" /></a>
          <a href="#!" class="breadcrumb black-text" th:text="Permissie" /></a>
        </div>
      </div>
    </nav>
  </div>
  <div class="row col s12" th:if="${error != null}" >
    <h6 class="red-text" th:text="${error.message}"></h6>
  </div>
  <h4 th:if="${not edit}">Permissie Toevoegen</h4>
  <h4 th:if="${edit}">Permissie Bewerken</h4>
  <p th:if="${not edit}">Voeg hieronder een permissie toe voor de rol <i><b><span th:text="${permission.role.name}"/></b></i>.</p>
  <p th:if="${edit}">Bewerk hieronder de permissie voor de rol <i><b><span th:text="${permission.role.name}"/></b></i>.</p>
  <form th:action="@{/permission(roleId=${permission.role.id})}" th:object="${permission}" method="post">
    <input type="hidden" name="id" th:value="${permission.id}" />
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">find_in_page</i>
        <input name="resourceType" th:value="${permission.resourceType}" type="text" id="resource-input" class="autocomplete">
        <label for="resource-input">Resource</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">http</i>
        <select name="operation">
          <option value="" disabled th:selected="${not edit}">Kies een operatie</option>
          <option th:selected="${#strings.equals(permission.operation, 'CREATE')}" value="CREATE">Create</option>
          <option th:selected="${#strings.equals(permission.operation, 'READ')}" value="READ">Read</option>
          <option th:selected="${#strings.equals(permission.operation, 'UPDATE')}" value="UPDATE">Update</option>
          <option th:selected="${#strings.equals(permission.operation, 'DELETE')}" value="DELETE">Delete</option>
        </select>
        <label>CRUD</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">filter_list</i>
        <select id="scope-select" name="scope">
          <option value="" disabled th:selected="${not edit}">Kies een scope</option>
          <option th:selected="${#strings.equals(permission.scope, 'ALL')}" value="ALL">All</option>
          <option th:selected="${#strings.equals(permission.scope, 'OWN')}" value="OWN">Own</option>
          <option th:selected="${#strings.equals(permission.scope, 'GRANTED')}" value="GRANTED">Granted</option>
        </select>
        <label>Scope</label>
      </div>
      <div id="authorized-services-container" class="input-field col s12" th:classappend="${#strings.equals(permission.scope, 'GRANTED')} ? '' : 'hiddendiv'" >
        <div class="row" th:each="smartService : ${smartServices}">
          <label class="col">
            <input type="checkbox" name="grantedServices" th:value="${smartService.id}" th:checked="${#lists.contains(permission.grantedServices, smartService.id)}" />
            <span th:text="${smartService.name}" />
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a th:href="@{/roles/edit(id=${permission.role.id})}" class="modal-close waves-effect waves-green white-text grey btn-flat"><i class="material-icons left">cancel</i>Annuleren</a>
      <button type="submit" class="modal-close waves-effect waves-green white-text green btn-flat">
        <i class="material-icons left"><span th:text="${edit} ? 'edit' : 'add'"/></i>
        <span th:text="${edit} ? 'Bewerk' : 'Toevoegen'"/>
      </button>
    </div>
  </form>
</div>
</body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script th:inline="javascript">
  (function() {
    // Initialize materialize select
    M.FormSelect.init(document.querySelectorAll('select'), {});

    M.Modal.init(document.querySelectorAll('.modal'), {});

    M.Autocomplete.init(document.getElementById('resource-input'), {
      data: /*[[${resourceTypes}]]*/ {}
    })

    const scopeSelect = document.getElementById('scope-select');
    const authServicesContainer = document.getElementById('authorized-services-container');

    scopeSelect.addEventListener('change', (event) => {
      if(event.target.value !== "GRANTED") {
        authServicesContainer.classList.add('hiddendiv');
        return;
      }

      authServicesContainer.classList.remove('hiddendiv');
    });

  })();
</script>
</html>
