<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
</head>
<body>
<nav th:replace="fragment/header :: header(selected='roles')"></nav>
<div class="container">
  <div class="row">
    <nav class="transparent black-text">
      <div class="nav-wrapper">
        <div class="col s12">
          <a href="/roles" class="breadcrumb black-text">Rollen</a>
          <a href="#!" class="breadcrumb black-text" th:text="${role.name}" /></a>
        </div>
      </div>
    </nav>
  </div>
  <div class="row col s12" th:if="${error != null}" >
    <h6 class="red-text" th:text="${error.message}"></h6>
  </div>
  <h4>Rolpermissies beheren</h4>
  <p>Hier  vindt u een overzicht van de gekoppelde permissies voor de rol <i><b><span th:text="${role.name}"/></b></i>. U kunt hier ook nieuwe permissies koppelen.</p>

  <table class="striped">
    <thead>
    <tr>
      <th>Resource</th>
      <th>Operation</th>
      <th>Scope</th>
      <th>Granted</th>
      <th class="actions-column">Acties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(role.permissions)}">
      <td colspan="5">Geen permissies toegekend</td>
    </tr>
    <tr th:if="${not #lists.isEmpty(role.permissions)}" th:each="permission, permissionStat : ${role.permissions}">
      <td th:text="${permission.resourceType}" />
      <td th:text="${permission.operation}" />
      <td th:text="${permission.scope}" />
      <td>
        <span th:text="${grantedServiceStat.last} ? ${grantedService.name} : ${grantedService.name + ', '}" th:each="grantedService, grantedServiceStat : ${permission.grantedServices}">
        </span>
      </td>
      <td class="actions-column">
        <div class="row">
          <a th:href="@{/permission/edit(id=${permission.id})}" class="btn amber col s6" type="submit"><i class="material-icons">edit</i></a>
          <form th:action="@{/permission/delete(permissionId=${permission.id}, roleId=${role.id})}" method="post">
            <button class="btn amber col s6" type="submit"><i class="material-icons">delete</i></button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="fixed-action-btn">
    <a th:href="@{/permission(roleId=${role.id})}" type="submit" class="btn-floating btn-large waves-effect waves-light modal-trigger red"><i class="material-icons">add</i></a>
  </div>
</div>
</body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
  (function() {
    // Initialize materialize select
    M.FormSelect.init(document.querySelectorAll('select'), {});

    M.Modal.init(document.querySelectorAll('.modal'), {});

    const scopeSelect = document.getElementById('scope-select');
    const authServicesContainer = document.getElementById('authorized-services-container');

    scopeSelect.addEventListener('change', (event) => {
      if(event.target.value !== "GRANTED") {
        authServicesContainer.classList.add('hiddendiv');
        return;
      }

      authServicesContainer.classList.remove('hiddendiv');
    });

  })();
</script>
</html>