<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
</head>
<body>
<nav th:replace="fragment/header :: header(selected='idp')"></nav>
<div>
  <div>
    <div class="row new-registry">
      <div class="col s12">
        <div class="card">
          <form action="/idp/details" th:method="post" th:object="${idp}">
            <div class="card-content amber-text">
              <div class="row">
                <span class="card-title" th:if="${idp.id == null}">Nieuwe Identity Provider Aanmaken</span>
                <span class="card-title" th:if="${idp.id != null}">Identity Provider Bewerken</span>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="input-field col s4">
                    <i class="material-icons prefix">title</i>
                    <input id="service-name" placeholder="Servicenaam" name="name" type="text" class="validate"
                           th:value="${idp.name}">
                    <label for="service-name">Naam</label>
                  </div>
                  <div class="input-field col s8">
                    <i class="material-icons prefix">http</i>
                    <input id="idp-endpoint" placeholder="Endpoint" name="endpoint" type="url" class="validate"
                           th:value="${idp.endpoint}"/>
                    <label for="idp-endpoint">Endpoint</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <div class="input-field col s4">
                    <i class="material-icons prefix">badge</i>
                    <input id="client-id" placeholder="client-id" name="clientId" type="text" class="validate"
                    th:value="${idp.clientId}">
                    <label for="client-id">client-id</label>
                  </div>
                  <div class="input-field col s4">
                    <i class="material-icons prefix">password</i>
                    <input id="client-secret" placeholder="client-secret" name="clientSecret" type="password"
                           class="validate" th:value="${idp.clientSecret}">
                    <label for="client-secret">client-secret</label>
                  </div>
                  <div class="input-field col s4">
                    <i class="material-icons prefix">edit_attributes</i>
                    <select th:field="*{usernameAttribute}">
                      <option th:value="preferred_username" th:text="preferred_username"></option>
                      <option th:value="sub" th:text="sub"></option>
                      <option th:value="email" th:text="email"></option>
                    </select>
                    <label>Username Attribuut</label>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <button id="submit-button" class="btn waves-effect waves-light amber darken-1" type="submit"
                        name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
              <input type="hidden" th:field="*{id}"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
  (function() {
    // Initialize materialize select
    M.FormSelect.init(document.querySelectorAll('select'), {});

    M.Tooltip.init(document.querySelectorAll('.tooltipped'), {});
  })();
</script>
</html>
