<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: head">
</head>
<body>
<nav th:replace="fragment/header :: header(selected='index')"></nav>
<div class="container">
  <table class="striped highlight">
    <thead>
    <tr>
      <th>Naam</th>
      <th>client_id</th>
      <th>Rol</th>
      <th>Status</th>
      <th>Aanvraagdatum</th>
      <th>Requester</th>
      <th>Endpoint</th>
      <th>Public Key</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="smartService, smartServiceStat : ${smartServices}" th:attr="data-service-id=${smartService.id}">
      <td>
        <form method="post" action="/smartService/name">
          <input type="hidden" name="id" th:value="${smartService.id}" />
          <div class="file-field input-field">
            <button class="btn  btn-small grey lighten-3 black-text" type="submit"><i class="material-icons">save</i></button>
            <div class="file-path-wrapper">
              <input type="text" name="name" th:value="${smartService.name}" />
            </div>
          </div>
        </form>
      </td>
      <td th:text="${smartService.clientId}"/>
      <td>
        <form method="post" action="/smartService/role">
          <input type="hidden" name="id" th:value="${smartService.id}">
          <select name="roleId" onchange="this.form.submit()">
            <option th:if="${smartService.role == null}" value="null">Geen rol</option>
            <option th:value="${role.id}" th:text="${role.name}" th:each="role : ${roles}" th:selected="${smartService.role?.id == role.id}"></option>
          </select>
        </form>
      </td>
      <td>
        <form method="post" action="/smartService/status">
          <input type="hidden" name="id" th:value="${smartService.id}">
          <select name="status" onchange="this.form.submit()">
            <option value="PENDING" th:selected='${#strings.equals(smartService.status, "PENDING")}'>😴 Pending</option>
            <option value="APPROVED" th:selected='${#strings.equals(smartService.status, "APPROVED")}'>✅ Approved</option>
            <option value="REJECTED" th:selected='${#strings.equals(smartService.status, "REJECTED")}'>⛔ Rejected</option>
          </select>
        </form>
      </td>
      <td th:text="${#temporals.format(smartService.createdOn, 'dd-MM-yyyy HH:mm')}"/>
      <td th:text="${smartService.createdBy}"/>
      <td th:text="${smartService.jwksEndpoint}"/>
      <td th:text="${smartService.publicKey}"/>
      <td class="delete-service" th:attr="data-service-id=${smartService.id}, data-client-id=${smartService.clientId}">
        <i class="material-icons">delete</i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
  (function() {
    // Initialize materialize select
    M.FormSelect.init(document.querySelectorAll('select'), {});

    document.querySelectorAll('.delete-service').forEach(deleteInput => {
      const id = deleteInput.getAttribute('data-service-id')
      const client_id = deleteInput.getAttribute('data-client-id')

      deleteInput.addEventListener('click', () => {
        if(confirm(`Weet je zeker dat je de client_id [${client_id}] wilt verwijderen?`)) {
          fetch(`register/${id}`, {
            credentials: 'include',
            method: 'DELETE',
          })
          .then(() => {
            const tr = document.querySelector(`tr[data-service-id="${id}"]`)

            if(tr) tr.parentNode.removeChild(tr);
          })
        }
      })
    });
  })();
</script>
</html>